* {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Arsenal", sans-serif;
}

.menu {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding-right: 25%;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.2vw;
}

li :hover {
    color: #FF7B00;
    border-bottom: 3px solid #FF7B00;
    padding-bottom: 25px;
}

.menu img {
    height: 90%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;
}

#atual {
    color: #FF7B00;
}

.bandeira img {
   position: relative;
   height: 60%;
   width: 100%;
}


.buttons {
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    gap: 20px;
}

.button {
    background: #3ca50b;
    color: #112244;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    background: #24b489;
    color: #ffffff;
}




.menu2 {
    height: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;
}



